<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>

  <link rel="stylesheet" th:href="@{../css/global.css}">
  <link rel="stylesheet" th:href="@{../css/reset.css}">
  <link rel="stylesheet" th:href="@{../css/header.css}">

  <link rel="stylesheet" th:href="@{../css/register.css}">


  <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>


  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/1811ec3902.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="container">

  <div class="header">
    <div class="header_columns">
      <!-- 로고 글 색갈 #e82d00 -->
      <img src="/img/헬스파티ver2.png" class="header_logo">
    </div>
    <div class="header_columns">
      <div class="header_columns_column">
        <a href="#">글 쓰기</a>
      </div>
      <div class="header_columns_column">
        <a href="#">로그인</a>
      </div>
    </div>
  </div>

  <div class="register">
    <div class="register_columns">
      <form action="register.do" method="post">
        <div class="register_columns_column">
          <input type="text" class="register_title" name="title" placeholder="제목을 입력하세요.">
        </div>
        <div class="register_columns_column dropdown">
          <p class="register_text">운동 지역<span> : </span></p>
          <div class="register_dropdown_box">
            <select name="area" id="dropdown_btn" class="dropdown_btn">
              <option value="" disabled selected>함께 운동 할 지역 선택</option>
              <option value="서울">서울</option>
              <option value="부산">부산</option>
              <option value="대구">대구</option>
              <option value="인천">인천</option>
              <option value="광주">광주</option>
              <option value="대전">대전</option>
              <option value="울산">울산</option>
              <option value="제주">제주</option>
              <option value="경기">경기</option>
              <option value="강원">강원</option>
              <option value="충북">충북</option>
              <option value="충남">충남</option>
              <option value="전북">전북</option>
              <option value="전남">전남</option>
            </select>
          </div>
        </div>


        <div id="editor"></div>
        <input type="hidden" id="quill_html" name="content">
        <!-- https://open.kakao.com/o/gyvuT5Yd -->


        <div class="register_columns_column openTalk">
          <p class="register_text openTalk">카카오톡 오픈채팅<span> : </span></p>
          <input type="text" name="openLink" id="openTalk_link" placeholder="오픈카톡 링크">
        </div>

        <div class="register_btn_container">
          <button class="register_cancel">취소</button>
          <button type="submit" class="register_submit">등록</button>
        </div>
      </form>
    </div>
    </form>
  </div>
</div>


<!-- Jquery CDN -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script th:src="@{../js/register.js}"></script>


</body>
</html>