<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelthParty</title>

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">

    <link rel="stylesheet" href="/css/index.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/1811ec3902.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">

        <div class="header">
            <div class="header_columns">
                 <!-- 로고 글 색갈 #e82d00 -->
                <img src="/img/헬스파티ver2.png" class="header_logo">
            </div>
            <div class="header_columns">
                <div class="header_columns_column">
                    <a th:href="@{join}">회원가입</a>
                </div>
                <div class="header_columns_column">
                    <a th:href="@{login}">로그인</a>
                </div>
            </div>
        </div>

        <div class="banner">
            <div class="banner_columns">
                <div class="banner_columns_column">
                    <p class="banner_headText">운동 파트너를 찾는 가장 쉬운 방법</p>
                </div>
                <div class="banner_columns_column">
                    <img src="/img/헬스파티ver2.png" class="banner_logo">
                    <p class="banner_subText">에서 함께 할 파트너를 찾아보세요.</p>
                </div>
                <div class="banner_columns_column">
                    <img src="/img/muscles-gaff3daf3e_1280_ver2.png" alt="" height="400px" style="margin-top: -30px;">
                </div>
            </div>
        </div>

        <div class="areaTab">
            <div class="areaTab_columns">
                <div class="areaTab_columns_column">
                    <p class="areaTab_area active">전체</p>
                    <p class="areaTab_area">서울</p>
                    <p class="areaTab_area">부산</p>
                    <p class="areaTab_area">대구</p>
                    <p class="areaTab_area">인천</p>
                    <p class="areaTab_area">광주</p>
                    <p class="areaTab_area">대전</p>
                    <p class="areaTab_area">울산</p>
                    <p class="areaTab_area">제주</p>
                    <p class="areaTab_area">경기</p>
                    <p class="areaTab_area">강원</p>
                    <p class="areaTab_area">충북</p>
                    <p class="areaTab_area">충남</p>
                    <p class="areaTab_area">전북</p>
                    <p class="areaTab_area">전남</p>
                    <p class="areaTab_area">경북</p>
                    <p class="areaTab_area">경남</p>
                </div>
            </div>
        </div>

        <div class="board">
            <div class="board_columns">
                <div class="board_columns_column">
                    <div class="board_title_box">
                        <!-- <div class="title_user_box" style="display: flex; align-items: center;">
                        <i class="fa-solid fa-dumbbell" style="font-size: 24px; margin-right: 10px;"></i>
                        <p class="" style="font-size: 20px; margin-bottom: 2px;">userId</p>
                        </div> -->
                        <p class="board_title"><span class="board_title_area">[광주]</span>준초이짐 학동점 3대 500 운동 파트너 구합니다.</p>
                    </div>
                    <div class="board_content_box">
                        <i class="fa-regular fa-comment-dots"></i>
                        <p class="board_comment">10</p>
                        <i class="fa-regular fa-eye"></i>
                        <p class="board_view">329</p>
                        <i class="fa-solid fa-heart"></i>
                        <p class="board_love">2</p>
                    </div>
                </div>
                
                <div class="board_columns_column">
                    <div class="board_title_box">
                        <p class="board_title"><span class="board_title_area">[서울]</span>신촌 파워짐에서 같이 운동하실분!</p>
                    </div>
                    <div class="board_content_box">
                        <i class="fa-regular fa-comment-dots"></i>
                        <p class="board_comment">10</p>
                        <i class="fa-regular fa-eye"></i>
                        <p class="board_view">329</p>
                        <i class="fa-solid fa-heart"></i>
                        <p class="board_love">2</p>
                    </div>
                </div>
                
                <div class="board_columns_column">
                    <div class="board_title_box">
                        <p class="board_title"><span class="board_title_area">[부산]</span>해운대 근처에서 같이 운동 시작해요!</p>
                    </div>
                    <div class="board_content_box">
                        <i class="fa-regular fa-comment-dots"></i>
                        <p class="board_comment">10</p>
                        <i class="fa-regular fa-eye"></i>
                        <p class="board_view">329</p>
                        <i class="fa-solid fa-heart"></i>
                        <p class="board_love">2</p>
                    </div>
                </div>
                
                <div class="board_columns_column">
                    <div class="board_title_box">
                        <p class="board_title"><span class="board_title_area">[경기]</span>안산 OO짐에서 서로 보조하면서 하실분?</p>
                    </div>
                    <div class="board_content_box">
                        <i class="fa-regular fa-comment-dots"></i>
                        <p class="board_comment">10</p>
                        <i class="fa-regular fa-eye"></i>
                        <p class="board_view">329</p>
                        <i class="fa-solid fa-heart"></i>
                        <p class="board_love">2</p>
                    </div>
                </div>
                
                <div class="board_columns_column">
                    <div class="board_title_box">
                        <p class="board_title"><span class="board_title_area">[광주]</span>준초이짐 학동점 3대 500 운동 파트너 구합니다.</p>
                    </div>
                    <div class="board_content_box">
                        <i class="fa-regular fa-comment-dots"></i>
                        <p class="board_comment">10</p>
                        <i class="fa-regular fa-eye"></i>
                        <p class="board_view">329</p>
                        <i class="fa-solid fa-heart"></i>
                        <p class="board_love">2</p>
                    </div>
                </div>
                
                <div class="board_columns_column">
                    <div class="board_title_box">
                        <p class="board_title"><span class="board_title_area">[광주]</span>준초이짐 학동점 3대 500 운동 파트너 구합니다.</p>
                    </div>
                    <div class="board_content_box">
                        <i class="fa-regular fa-comment-dots"></i>
                        <p class="board_comment">10</p>
                        <i class="fa-regular fa-eye"></i>
                        <p class="board_view">329</p>
                        <i class="fa-solid fa-heart"></i>
                        <p class="board_love">2</p>
                    </div>
                </div>
                
                <div class="board_columns_column">
                    <div class="board_title_box">
                        <p class="board_title"><span class="board_title_area">[광주]</span>준초이짐 학동점 3대 500 운동 파트너 구합니다.</p>
                    </div>
                    <div class="board_content_box">
                        <i class="fa-regular fa-comment-dots"></i>
                        <p class="board_comment">10</p>
                        <i class="fa-regular fa-eye"></i>
                        <p class="board_view">329</p>
                        <i class="fa-solid fa-heart"></i>
                        <p class="board_love">2</p>
                    </div>
                </div>
                
                <div class="board_columns_column">
                    <div class="board_title_box">
                        <p class="board_title"><span class="board_title_area">[광주]</span>준초이짐 학동점 3대 500 운동 파트너 구합니다.</p>
                    </div>
                    <div class="board_content_box">
                        <i class="fa-regular fa-comment-dots"></i>
                        <p class="board_comment">10</p>
                        <i class="fa-regular fa-eye"></i>
                        <p class="board_view">329</p>
                        <i class="fa-solid fa-heart"></i>
                        <p class="board_love">2</p>
                    </div>
                </div>
                
                <div class="board_columns_column">
                    <div class="board_title_box">
                        <p class="board_title"><span class="board_title_area">[광주]</span>준초이짐 학동점 3대 500 운동 파트너 구합니다.</p>
                    </div>
                    <div class="board_content_box">
                        <i class="fa-regular fa-comment-dots"></i>
                        <p class="board_comment">10</p>
                        <i class="fa-regular fa-eye"></i>
                        <p class="board_view">329</p>
                        <i class="fa-solid fa-heart"></i>
                        <p class="board_love">2</p>
                    </div>
                </div>
                
                <div class="board_columns_column">
                    <div class="board_title_box">
                        <p class="board_title"><span class="board_title_area">[광주]</span>준초이짐 학동점 3대 500 운동 파트너 구합니다.</p>
                    </div>
                    <div class="board_content_box">
                        <i class="fa-regular fa-comment-dots"></i>
                        <p class="board_comment">10</p>
                        <i class="fa-regular fa-eye"></i>
                        <p class="board_view">329</p>
                        <i class="fa-solid fa-heart"></i>
                        <p class="board_love">2</p>
                    </div>
                </div>
                
              
                </div>
        </div>

        


    </div>
    
</body>
</html>