<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">

    <link rel="stylesheet" href="/css/login.css">
    
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/1811ec3902.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="container">
        <div class="login">

            <div class="login_columns logo">
                <img src="/img/헬스파티ver2.png" class="login_logo">
            </div>

            <p class="login_fail" th:text="${loginFail}" style="font-size: 10px"></p>

            <div class="login_columns">
                <form action="login" method="post">
                <div class="login_columns_column">
                    <i class="fa-regular fa-user"></i>
                    <input type="text" class="login_input" name="userId" placeholder="username">
                </div>

                <div class="login_columns_column">
                    <i class="fa-solid fa-lock"></i>
                    <input type="text" class="login_input" name="userPw" placeholder="password">
                </div>

                <div class="login_columns_column">
                    <button type="submit" class="login_btn">Login</button>
                </div>
                </form>
            </div>

            <div class="login_columns">
                <div class="login_columns_column">
                    <a href="#" class="join_link">Create New Account</a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>