<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellparty.mapper.BoardMapper">
    <insert id="boardRegister">
        INSERT INTO hellparty_board(userIdx, userId  ,title, area, content, openLink)
        VALUES (#{userIdx}, #{userId} ,#{title}, #{area}, #{content}, #{openLink})
    </insert>

    <select id="boardDetail" resultType="com.hellparty.domain.BoardDTO">
        SELECT * FROM hellparty_board
        WHERE boardIdx = #{boardIdx}
    </select>

    <update id="boardViewCount">
        UPDATE hellparty_board
        SET viewCount = viewCount + 1
        WHERE boardIdx = #{boardIdx}
    </update>

    <select id="heartFind" resultType="boolean">
        SELECT * FROM hellparty_heart
        WHERE userIdx = #{userIdx} AND boardIdx = #{boardIdx}
    </select>

    <insert id="heartInsert">
        INSERT INTO hellparty_heart(userIdx, boardIdx) VALUES(#{userIdx},#{boardIdx})
    </insert>

    <delete id="heartDelete">
        DELETE FROM hellparty_heart WHERE userIdx = #{userIdx} AND boardIdx = #{boardIdx}
    </delete>

</mapper>