<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellparty.mapper.BoardMapper">
    <insert id="boardRegister">
        INSERT INTO hellparty_board(userIdx, userId  ,title, area, content, openLink)
        VALUES (#{userIdx}, #{userId} ,#{title}, #{area}, #{content}, #{openLink})
    </insert>

    <select id="boardDetail" resultType="com.hellparty.domain.BoardDTO">
        SELECT * FROM hellparty_board
        WHERE boardIdx = #{boardIdx}
    </select>

</mapper>