<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hellparty.mapper.CommentMapper">
    <select id="commentCount" resultType="int">
        SELECT COUNT(*) FROM hellparty_comment
        WHERE boardIdx = #{boardIdx}
    </select>

    <select id="commentList" resultType="com.hellparty.domain.CommentDTO">
        SELECT * FROM hellparty_comment
        WHERE boardIdx = #{boardIdx}
    </select>

    <insert id="commentRegister" parameterType="com.hellparty.domain.CommentDTO">
        INSERT INTO hellparty_comment(boardIdx, userId, content)
        VALUES(#{boardIdx}, #{userId}, #{content})
    </insert>

    <delete id="commentDelete">
        DELETE FROM hellparty_comment
        WHERE commentIdx = #{commentIdx}
    </delete>

</mapper>