<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellparty.mapper.UserMapper">

    <insert id="userJoin" parameterType="com.hellparty.domain.UserDTO">
        INSERT INTO hellparty_user
        (userId, userPw, userName, userEmail, regDate ,adminCk)
        VALUES(#{userId}, #{userPw}, #{userName}, #{userEmail}, NOW() ,0)
    </insert>

    <select id="idCheck" resultType="int">
        SELECT COUNT(*)
        FROM hellparty_user
        WHERE userId = #{userId}
    </select>
</mapper>